<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container-fluid">
        <main>
            <div class="fort p-5 opacity-1">
                <p class="text-green-600 opacity-1 lead">Home<span class="text-white"> / FAQ</span></p>
                <h2 class="opacity-1 text-white fw-bold h1">FAQ</h2>
            </div>
        </main>
    </section>
</body>
</html>