<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="font">
        <div>
            <p>Copyright © 2024 Soole</p>
        </div>

        <div>
            <div class="position-relative bom">
                <a href="#"> <fa-icon class="text-green-600 fog" [icon]="faWhatsapp"></fa-icon></a>
                
                <p class="kot bg-green-600">Whatsapp Us</p>
            </div>
        </div>
    </main>
</body>
</html>
