<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <section class="container-fluid ">
      <main class="wes d-block d-md-flex align-items-center">
        <div class="col-12 col-md-6">
          <div class="image-container">
            <div class="slide-in">
              <h4 class="fs-1 fw-bolder">Soole Laundry Services</h4>
              <p class="my-3 fw-bold">We Care for the clothes you wear</p>
              <button class="shun">Place Order</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="image-container2">
            <div class="slide-in2">
              <h4 class="fs-1 fw-bolder">Soole Logistic Services</h4>
              <p class="my-3">Experience the Best Logistics & Transport</p>
              <button class="shun">Get Started</button>
             
            </div>
          </div>
        </div>
      </main>
      

        <main class="row p-2">
            <div class="col-12 col-md-6 ">
                <img class="flo shadow-lg shadow-gray-700" src="assets/lady.jpg" alt="" srcset="">
                
            </div>
            <div class="col-12 col-md-6 py-2 px-3 ">
                <h5  class="  lau">We are Passionate About Laundry</h5>
                <p class="text-muted boot">We are professionals in the laundry and dry cleaning business, which means we always stay up to date on the latest technologies, cleaning methods, and solutions for dealing with stains or delicate fabrics. Plus, we maintain the highest standards of business integrity by following local and national regulations and environmental safety rules. We are passionate about changing the way you think about laundry!</p>
                <main class="d-block d-md-flex justify-content-around align-items-center my-3">

                    <div class=" og">
                        <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                            check
                        </span>  100% Customer Satisfaction
                    </p>
                    <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                        check
                    </span>  Free collection & delivery
                   </p>
                    <p class="flex text-muted  items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                    check
                      </span> Affordable Prices
                    </p>
                    <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                        check
                          </span> Best Quality       </p>
                  </div>
                  <div class="lin d-none d-md-block">

                  </div><hr>
                  <div class="text-center my-2 my-md-0">
                    <p class="text-center "><span class="material-symbols-outlined fs-1 text-green-500">
                        phone_in_talk
                        </span></p>
                    <p class="">call for Quality Services</p>
                    <b class="glo">+234 9052 504 906</b>
                  </div>
                </main>
            </div>
        </main>

        <section class="w-full shadow ">
            <main class="block md:flex justify-between items-center p-2">
              <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex  text-center bg-dark-700 p-3 ">
                <div class="let2">
                    <img class="cloo" src="assets/images-removebg-preview.png" alt="">
                </div>
                <div class="bad text-start">
                  <h4 class="text-xl font-semibold gold">Save Time & Money</h4>
                  <p>No more wasted time driving to the laundromats, we now pickup and deliver to you!</p>
                </div>
              </div>

              <div class="w-full my-3 md:my-0 md:w-1/3 block  md:flex  text-center bg-dark-700 p-3 ">
                <div class="let me-3 ">
                    <span class="material-symbols-outlined  text-success">
                        devices
                      </span>
                </div>
                <div class="bad text-start">
                  <h4 class="text-xl font-semibold gold">Pay Online in Seconds</h4>
                  <p>Manage your account and billing online from your smartphone or computer.</p>
                </div>
              </div>

              <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex justify-between  text-center p-3">
                <div class="let me-3">
                    <img class="text-center" src="assets/leafrfm.png" alt="Eco-Friendly">
                </div>
                <div class="bad text-start">
                  <h4 class="text-xl font-semibold gold">Eco-Friendly</h4>
                  <p class="">We use safe and clean perc-free solvents, so you, and the Earth, can look good.</p>
                </div>
              </div>
              
            </main>
          </section>
          
          <section class="container-fluid  my-5">
              <main class="bgo p-2 text-center ">
               <h6 class="text-green-600 fs-5 fw-bold">Get  Your clothes Collected & Delivered</h6>
  
               <h3 class="lau">How We Work</h3>
  
               <p class="my-3 text-muted">Our Service is dedicated to making your life easier by providing pick up laundry service. Give yourself one less thing to worry about and try our residential wash and fold service that includes pick up and delivery.</p>
  
               <p class="text-muted my-4">We have been in the laundry business for more than 12 years and would love to earn your business. Try us today and save $10 Off your first laundry service of 20 pounds or more.</p>
              </main>

              <main class="row text-center my-4">
                <div class="col-12 col-md-3 my-4">
                     <span class="material-symbols-outlined fs-1 klop rounded-full p-4 text-green-600 text-3xl   ">
                        devices
                      </span>
                    

                    <h4 class="h4 fw-bold fm my-2">Sign Up</h4>
                    <p class="text-muted ">All members receive bonuses and/or discounts. Sign up for more information.</p>
                </div>

                <div class="col-12 col-md-3 my-4 " >
                    <span class="material-symbols-outlined fs-1 klop rounded-full p-4 text-green-600">
                        shopping_cart
                        </span>
                 <h4 class="h4 fw-bold fm my-2">Pick Up</h4>
                  <p class="text-muted ">If you are in an urgent need of laundry, we can come right to you for a pick-up.</p>
                </div>

                <div class="col-12 col-md-3 my-4 ">
                   <span class="material-symbols-outlined fs-1 klop rounded-full p-4 text-green-600">
                    local_laundry_service
                    </span>
                    <h4 class="h4 fw-bold fm my-2">Cleaning</h4>
                    <p class="text-muted ">We use premium materials, technologies and guarantee treatment with care.</p>
                </div>
                <div class="col-12 col-md-3 my-4 ">
                       <span class="material-symbols-outlined fs-1 klop rounded-full p-4 text-green-600">
                        local_shipping
                        </span>

                        <h4 class="h4 fw-bold fm my-2">Delivery</h4>
                        <p class="text-muted ">Free delivery for every order upon prior request within 24 hours after cleaning</p>

                </div>
              </main>

              <div class="text-center">
                <button class="bot">Place Order</button>
              </div>
      
          </section>

          <section class="lot">
            <main class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="https://soole.com.ng/wp-content/uploads/2024/06/half-bg.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 p-4">
                     <p class="text-green-600 fw-bold fs-5 my-2 text-center">Laundry service for your business!</p>
                     <h5 class="lau">Commercial Laundry
                        Service</h5>
                     <p class="text-muted boot">Large corporations have determined that there is a financial benefit to outsourcing back office work because it saves money. Allowing us to do your laundry is cost effective and will allow you and your employees to focus on your core business. We offer smart solutions to meet your commercial laundry needs. Our Commercial Laundry Clients include:</p>

                     <main class="block md:flex items-center justify-around my-3">
                        <div class=" og">
                            <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                                check
                            </span>  Salon & Spas
                        </p>
                        <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                            check
                        </span>  Restaurants and Caterers
                       </p>
                        <p class="flex text-muted  items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                        check
                          </span> Religious Organizations
                        </p>
                        <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                            check
                              </span> Daycare centers  </p>
                      </div>
                      <div class=" og">
                        <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                            check
                        </span>  Assisted Living / Nursing Home
                    </p>
                    <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                        check
                    </span>  Hotels & Motels
                   </p>
                    <p class="flex text-muted  items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                    check
                      </span> Nail Salons
                    </p>
                    <p class="flex text-muted   items-center"><span class="material-symbols-outlined text-green-500 fw-bold px-2">
                        check
                          </span> Athletic Facilities / Gyms </p>
                  </div>
                        
                    </main>
                </div>

            </main>
          
          </section>

          <section>
            <p class="text-green-600 fw-bold fs-5 my-3 text-center">Important Information</p>
            <h5 class="lau text-center ">Trusted Laundry Service</h5>

            <main class="container my-4">
              <div class="row px-auto dan my-3">
                <button
                  class="fat mx-auto"
                  [ngClass]="{ 'active-focus': activeButton === 'approach' }"
                  (click)="toggleContent('approach')"
                >
                  Our Approach
                </button>
                <button
                  class="fat mx-auto"
                  [ngClass]="{ 'active-focus': activeButton === 'questions' }"
                  (click)="toggleContent('questions')"
                >
                  Questions/Answers
                </button>
                <button
                  class="fat mx-auto"
                  [ngClass]="{ 'active-focus': activeButton === 'choose' }"
                  (click)="toggleContent('choose')"
                >
                  Why Choose Us
                </button>
              </div>
              
              <div *ngIf="activeButton === 'approach'">
                <!-- Content for Our Approach -->
                
                <main class="row">
                  <div class="col-12 col-md-6">
                    <h2 class="lau">Our Approach</h2>

                    <p class="text-muted boot">We approach workforce accommodations with a property development mindset. Our “Develop. Own. Operate.” business model produces integrated solutions that enable clients to focus on their core business.</p>

                    <p class="text-muted boot my-5">  Clients benefit from consistent service delivery with greater cost and quality control as well as more efficient use of their operational and financial resources.</p>
                  </div>

                  <div class="col-12 col-md-6">
                    <img class="net" src="assets/lady2.jpg" alt="">
                  </div>
                </main>
                <main class="block md:flex justify-between items-center p-2">
                  <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex  text-center bg-dark-700 p-3  ">
                    <div  class="let me-3">
                      <fa-icon class="text-success fs-1 folu" [icon]="faAward"></fa-icon>
                    </div>
                     <div class="bad text-start">

                       <h6 class=" text-xl font-semibold gold">High Quality</h6>
                       <p>We work hard to make sure that the clothes you get back are spotless and ready for action.
                      </p>
                    </div>
                  </div>
                  <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex  text-center bg-dark-700 p-3  ">
                    <div class="let me-3">

                      <fa-icon class="text-success fs-2 folu" [icon]="faHand"></fa-icon>
                    </div>
                     <div class="bad text-start">

                       <h6 class=" text-xl font-semibold gold">Cleaner & Greener</h6>
                       <p>We work with the environment in mind. No harsh chemicals</p>
                      </div>
                  </div>
                  <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex  text-center bg-dark-700 p-3  ">
                    <div class="let me-3"> 
                      <fa-icon class="text-success fs-2 folu" [icon]="faSmiley"></fa-icon>
                    </div>
                    <div class="bad text-start">

                      <h6 class=" text-xl font-semibold gold">Happiness Guarantee</h6>
                      <p>If you're not completely satisfied with the wash or dry cleaning, we will re-process your clothes for free!</p>
                    </div>
                  </div>
                </main>
              </div>
              <div *ngIf="activeButton === 'questions'">
                <!-- Content for Questions/Answers -->
               
                <section>
                  <main class="row">
                    <div class="col-12 col-md-4">
                      <img src="assets/img05.jpg" alt="" srcset="">
                    </div>
                    <div class="col-12 col-md-8 ">
                      <h4 class="lau">Questions/Answers</h4>

                      <div class="bato my-2 bg-white" *ngFor="let item of items; let i = index">
                        <button class="mato lau fs-5 fw-semibold shadow-lg " (click)="toggle(i)" [ngClass]="{'active': activeIndex === i}">
                          {{ item.title }}
                        </button>
                        <div class="mak shadow-lg bg-white text-muted " *ngIf="activeIndex === i" >
                          {{ item.content }}
                        </div>
                      </div>
                      <p></p>
                    </div>
                  </main>
                </section>
              </div>
              <div *ngIf="activeButton === 'choose'">
                <!-- Content for Why Choose Us -->
               <main>
                <section class="row">
                  <main class="col-12 col-md-4">
                    <div class="my-2">
                      <h4 class="lau">Why Choose Us</h4>
                      <p class="text muted ">We know that a strong, client-focused business is a smart business. We have a 20,000-square-foot, state-of-the-art workshop where all cleaning, specialized spot removal, pressing, inspection and packaging of your items take place.</p>
                    </div>
                    <div class="my-2">
                      <h4 class="lau">Values & Experience</h4>
                      <p class="text muted ">We know that a strong, client-focused business is a smart business. We have a 20,000-square-foot, state-of-the-art workshop where all cleaning, specialized spot removal, pressing, inspection and packaging of your items take place.</p>

                      <button class="bot my-3">Get Service Now</button>
                    </div>
                  </main>
                  <main class="col-12 col-md-8 block md:flex justify-between  flex-wrap">
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6 text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faBulb"></fa-icon>
                      </div>
                       <div class="bad text-start">
  
                         <h6 class=" text-xl font-semibold gold">Persionalized Experience</h6>
                         <p>We take utmost care of your clothes, segregating based on the cloth type and giving you instant clothes to make a statement.
                        </p>
                      </div>
                    </div>
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6  text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faPercent"></fa-icon>
                      </div>
                       <div class="bad text-start">
  
                         <h6 class=" text-xl font-semibold gold">Affordable Pricing</h6>
                         <p>Prices that suits your pocket is one of our USP. An option of choosing between 2 types of pricing is available.
                        </p>
                      </div>
                    </div>
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6  text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faRocket"></fa-icon>
                      </div>
                       <div class="bad text-start">
  
                         <h6 class=" text-xl font-semibold gold">Convenience</h6>
                         <p>With just a tap of a button, your laundry gets done, giving your leisure time to spend with family and friends.
                        </p>
                      </div>
                    </div>
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6  text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faAward"></fa-icon>
                      </div>
                       <div class="bad text-start">
  
                         <h6 class=" text-xl font-semibold gold">Quality</h6>
                         <p>We use the best in class products, to assure that your favorite clothes are always there for you to wear.
                        </p>
                      </div>
                    </div>
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6  text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faTruck"></fa-icon>
                      </div>
                       <div class="bad text-start">
  
                         <h6 class=" text-xl font-semibold gold">
                          Express Delivery</h6>
                         <p>With our super express delivery, we would get your laundry done in less than 8 hours.


                        </p>
                      </div>
                    </div>
                    <div class="w-full my-3 md:my-0 md:w-1/3 block md:flex col-md-6  text-center bg-dark-700 p-3  ">
                      <div  class="let me-3">
                        <fa-icon class="text-success fs-1 folu" [icon]="faUser"></fa-icon>
                        
                      </div>
                       <div class="bad text-start">
                          
                         <h6 class=" text-xl font-semibold gold">Persionalized Experience</h6>
                         <p>We take utmost care of your clothes, segregating based on the cloth type and giving you instant clothes to make a statement.
                        </p>
                      </div>
                    </div>
                  </main>
                </section>
               </main>
              </div>
              
            </main>
          </section>

          <section>
       <main class="row touch text-center mt-4">
        <div class="col-12 col-md-6 text-center p-5">
          <h4 class="fs-2 fw-semibold gold">Quality Service with
            Free <span class="text-green-600">Collection & Delivery</span>
          </h4>

          <p class="text-muted my-3">We take utmost care of your clothes, segregating based on the cloth type and giving you instant clothes to make a statement.</p>

          <p class="gold fw-semibold fs-3">+234 9012 345 687</p>
        </div>
        <div class="col-12 col-md-6">
          <img class="fun" src="assets/truck.png" alt="truck" srcset="">
        </div>
       </main>

          </section><hr>
        </section>
</body>
</html>
