
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <section class="container-fluid">
      <main class="flex justify-center items-center my-4">
          <div class="col-12 col-md-6 text-center bg-white shadow-lg fw-bold ">
              <h4 class="text-green-600">Payment Details</h4>
              <p>Plan : {{ plan }}</p>
              <p>Amount : <span><fa-icon [icon]="faNaira"></fa-icon>{{ amount }}</span></p>
              <p>Duration : 1 Month</p>

              <p class="fs-6 fw-bold">Payment Method : <span >Bank Tansfer</span></p>
               <button routerLink="/payment" class="btn btn-outline-success my-2">Proceed for Payment</button>

            </div>
      </main>
  </section>
</body>
</html>
